<template>
    <div class="search-container">
        <div class="search-input-container">
            <input @keyup="inputChange" v-model="value" type="text" placeholder="Start to search by typing..." />
        </div>
        <div class="search-result-container">
            <ul v-if="results.length > 0">
                <li v-for="item in results" :key="item.id">{{item.title}}</li>
            </ul>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
  name: 'SearchBox',
  props: {
    url: String
  },
  data(){
    return {
        value : '',
        results : []
    }
  },
  methods: {
    inputChange(){
        if(this.value.length > 2){
            axios.get(this.url,{
                params: {
                    q: this.value
                }
            })
            .then(response => {
                const { items } = response.data;
                if(items.length > 0)
                    this.results = items;
                else
                    this.results = [
                        {
                            id: 0,
                            title : 'Empty result!'
                        }
                    ]
            });
        }
        else
            this.results = [];
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .search-container {
        background: transparent;
        display: inline-block;
        margin: 0 auto;
        box-shadow: 1px 1px 5px #6d6d6d;
    }
    .search-container .search-input-container input[type=text] {
        border: none;
        border-bottom: 2px solid #01830b;
        display: block;
        width: 248px;
        height: 32px;
        font-weight: bold;
        color: #5b5b5b;
        font-size: 16px;
    }
    .search-container .search-input-container input[type=text]:focus{
    outline: none;
    }
    .search-result-container {
        width: 100%;
        height: auto;
    }
    .search-result-container ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    .search-result-container ul li {
        text-align: left;
        padding: 4px 2px;
        font-size: 15px;
        color: #373737;
    }
</style>
