<template>
  <SearchBox :url="searchUrl" />
</template>

<script>
import SearchBox from './components/SearchBox.vue'

export default {
  name: 'App',
  components: {
    SearchBox
  },
  data(){
    return {
      searchUrl : "http://localhost:8000/api/search"
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
